<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><%include ../partials/header%></header>

    <h1>Welcome To Cat VS Baby!</h1>
<<<<<<< HEAD
<br></br>
    <h1>Click The Cutest Photo To Play!</h1>

        <p><%=users.photos.catPhotos[1].description%></p>
        <img src="<%=users.photos.catPhotos[1].url%>" alt="">
        <br></br>
        
        <p><%=users.photos.babyPhotos[0].description%></p>
        <img src="<%=users.photos.babyPhotos[0].url%>" alt="">

=======
=======
    <%include ../partials/header%>
    <h1>Home Page</h1>
>>>>>>> cd42c9abee103cb87b05eccc9f6891a507230bbf
    <p></p>
    <ul>
    </ul>
    <ul>
      Click The Cutest Photo To Play!
    </ul>
    <ul>
      <form action="/home" method="POST">
        <img src="<%=users.profilePictures%>" alt="">
      </form>
    </ul>
    <ul>
    </ul>
    <ul>
    </ul>
    <%include ../partials/footer%>
>>>>>>> fdd1d7e04734b07183231da20aecbf1d18272968
  </body>
</html>
