<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%include ../partials/head%>
  </head>
  <body>
    <%include ../partials/header%>

<br></br>
    <h1>Which One Is Cuter?</h1>
    <h3>just click to play and be sure to check out the top ranking cuties</h3>

        <p><%=users.photos.catPhotos[1].description%></p>
        <img src="<%=users.photos.catPhotos[1].url%>" alt="<%=users.photos.catPhotos[1].description%>">
        <br></br>


        <p><%=users.photos.babyPhotos[0].description%></p>
        <img src="<%=users.photos.babyPhotos[0].url%>" alt="<%=users.photos.babyPhotos[1].description%>">

    <%include ../partials/footer%>
  </body>
</html>
