<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><%include ../partials/header%></header>

    <h1>Welcome To Cat VS Baby!</h1>
<br></br>
    <h1>Click The Cutest Photo To Play!</h1>

        <p><%=randomCat.description%></p>
        <img src="<%=randomCat.url%>" alt="<%=randomCat.description%>">
        <br></br>


        <p><%=randomBaby.description%></p>
        <img src="<%=randomBaby.url%>" alt="<%=randomBaby.description%>">

    <%include ../partials/footer%>
  </body>
</html>
