<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/head%>
    <title></title>

  </head>
  <body>

  <%include ../partials/header%>
    <h1>
      <%=users.userName%>'s Profile</h1>

    <img src="<%=users.profilePicture%>" alt="">
    <form action="/users/<%=users._id%>/update?_method=PUT" method="POST">

      <!-- grab user id by name from user database -->
      <input type="url" name="profilePicture" placeholder="Upload Profile Pic">
      <!-- if user is logged in with a profile photo upload it or let them  profile photo that attaches to id -->
      <button type="editProfile">Edit Profile</button>
      <!-- if else statement for listener clicked button, show form page for edit -->
      <br>
      <textarea name="bio" rows="3" cols="40">
        <%=users.bio%>
      </textarea>
      <!-- text area should only be 80 characters -->
      <br></br>


      <br>
      <br>
      <input type="submit">
    </form>
    <h1>
      <%=users.userName%>'s Cute Cat Photos'</h1>
    <% for (let i = 0; i<cats.length; i++) {%>
      <img src="<%=cats[i].url%>" alt="<%=cats[i].description%>">
      <%}%>

        <h1>
          <%=users.userName%>'s Cute Baby Photos'</h1>
        <% for (let i = 0; i<babies.length; i++) {%>
          <img src="<%=babies[i].url%>" alt="<%=babies[i].description%>">
          <%}%>


            <form action='/photos/<%=users._id%>' method="POST">
              <select name="cutePhoto">
                <!-- if catPhoto is chosen, redirect store to cat database
        if now, redirect store to baby database -->
                <option value="catPhoto">Cute Animal</option>
                <option value="babyPhoto">Cute Baby</option>
                <input type="url" name="url" placeholder="Upload A Cute Photo" </select>
                <textarea name="description" id="" cols="30" rows="10">Describe ya photo</textarea>
                <button type="submit">Upload</button>
            </form>
            <ul>
            </ul>
            <ul>
            </ul>
            <ul>
            </ul>

            <%include ../partials/footer%>
</body>

</html>