<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/head%>
    <title></title>

  </head>
  <body>

  <%include ../partials/header%>
    <h1>
      <%=users.userName%>'s Profile</h1>

    <img src="<%=users.profilePicture%>" alt="">
    <form action="/users/<%=users._id%>/update?_method=PUT" method="POST">

      <input type="url" name="profilePicture" placeholder="Upload Profile Pic">

      <button type="editProfile">Edit Profile</button>

      <br>
      <textarea name="bio" rows="3" cols="40">
        <%=users.bio%>
      </textarea>
      <br></br>

      <br>
      <br>
      <input type="submit">
    </form>
    <h1>
      <%=users.userName%>'s Cute Cat Photos'</h1>
    <% for (let i = 0; i<cats.length; i++) {%>
      <img src="<%=cats[i].url%>" alt="<%=cats[i].description%>">
      <%}%>

        <h1>
          <%=users.userName%>'s Cute Baby Photos'</h1>
        <% for (let i = 0; i<babies.length; i++) {%>
          <img src="<%=babies[i].url%>" alt="<%=babies[i].description%>">
          <%}%>


            <form action='/photos/<%=users._id%>' method="POST">
              <select name="cutePhoto">

                <option value="catPhoto">Cute Animal</option>
                <option value="babyPhoto">Cute Baby</option>
                <input type="url" name="url" placeholder="Upload A Cute Photo" </select>
                <textarea name="description" id="" cols="30" rows="10">Cutie's Name and Favorite Hobby?</textarea>
                <button type="submit">Upload Photo</button>
            </form>

            <form action="/photos/<%=users.id%>?_method=DELETE" method="POST"><select name="cutePhoto">
              <button type="submit">Delete Photo</button>
            </form>
            <%include ../partials/footer%>
</body>

</html>
